*.pyc
*.log
*.pot
*.idea
*.vscode
*.DS_Store
*__pycache__
__pyc__/
media/
static/
env/
venv
.idea/
*/__pycache__/*
.installed.cfg
bin
develop-eggs
dist
eggs
parts
src/*.eggs-info
lib
lib64
.idea
*.pgsql
*.sqlite3
