*.pyc
*.log
*.pot
*.idea
*.vscode
*.DS_Store
.python-version
migrations/
__pycache__/
__pyc__/
media/
static/
env/
venv
.env
.idea/
*/migrations
*/__pycache__/*
.installed.cfg
bin
develop-eggs
dist
eggs
parts
src/*.eggs-info
lib
lib64
.idea
*.pgsql
*.sqlite3
