{% extends 'admin/base.html' %}

{% block content %}
    <div>
        <h2>Shop input fields</h2>
        <form action="" method="POST" >
            {% csrf_token %}
            {{ form }}
            <p>Copy to shop following products</p>
            <ul>
                {{ objects|unordered_list }}
            </ul>
            <input type="hidden" name="action" value="add_product" />
            <input type="submit" name="apply" value="Copy Product" />
        </form>
    </div>
    <br />

{% endblock %}